---
import Hero from "@/components/Hero.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Services from "@/components/Services.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Emp. Saneamientos Ambientales"
  description="Saneamientos Ambientales C&W especialista en limpieza desinfección, fumigación matenimiento y saneamiento ambiental."
>
  <main>
    <SectionContainer id="home" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <SectionContainer>
      <Services/>
    </SectionContainer>
  </main>
</Layout>
