---
import UserGroupIcon from "@/icons/users-group.astro";
import DocuemntCheckIcon from "@/icons/document-check.astro";
import CheckIcon from "@/icons/check.astro";
import BuldIcon from "@/icons/bulb.astro";
import ScaleIcon from "@/icons/scale.astro";
import TargetArrowIcon from "@/icons/target-arrow.astro";
import EyeIcon from "@/icons/eye.astro";
import DiamondIcon from "@/icons/diamond.astro";
---

<section class="lg:flex lg:w-full min-w-80 pb-10 lg:px-0 px-4">
  <div class="pb-8 lg:max-w-3xl pt-8 lg:w-1/2 lg:pr-8 [&>p]:text-base [&>p]:font-medium">
    <h1 class="font-bold lg:text-5xl text-4xl">
      <UserGroupIcon />
      Quiénes Somos
    </h1>
    <p class="pt-4">
      <span class="text-green-900 font-bold text-base"
        >SERVICIOS DE SANEAMIENTOS AMBIENTALES C&W S.A.C.</span
      >, especializada en la elaboración y ejecución de servicios relacionada
      con los rubros de desinsectación, desratización, desinfección, limpieza y
      desinfección de tanques sépticos, limpieza y desinfección de reservorios
      de agua.
    </p>
    <br />
    <p class="text-lg">
      Nuestra empresa está conformada por un equipo multidisciplinario de
      profesionales de amplia experiencia en los temas mencionados.
      Implementamos sistemas de gestión y normativas nacionales de seguridad,
      higiene y ambiente que mejoren continuamente el desempeño de la
      organización. Proveemos el mantenimiento y mejora de su sistema de
      gestión, implementación y/o certificación.
    </p>
  </div>
  <div class="flex lg:w-1/2 justify-center">
    <div class="lg:pt-56 pt-24 w-44">
      <div class="">
        <img
          src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80"
          alt=""
          class="lg:rounded-lg rounded-r-lg object-cover max-w-full h-auto aspect-[2/3] relative"
        />
      </div>
    </div>

    <div class="lg:pt-36 pt-0 pl-8 w-44 space-y-8">
      <div>
        <img
          src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80"
          alt=""
          class="rounded-lg object-cover max-w-full h-auto aspect-[2/3]"
        />
      </div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80"
          alt=""
          class="rounded-lg object-cover max-w-full h-auto aspect-[2/3]"
        />
      </div>
    </div>
    <div class="lg:pt-0 pr-0 pl-8 w-44 space-y-8 pt-36">
      <div>
        <img
          src="https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=left&w=400&h=528&q=80"
          alt=""
          class="rounded-l-lg object-cover max-w-full h-auto aspect-[2/3]"
        />
      </div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1670272505284-8faba1c31f7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
          alt=""
          class="rounded-l-lg object-cover max-w-full h-auto aspect-[2/3]"
        />
      </div>
    </div>
  </div>
</section>

<section class="lg:flex gap-8 pb-8">
  <div id="videoSA" class="flex flex-col lg:w-1/2 items-center justify-center mx-4">
    <h2 class="lg:text-4xl text-3xl font-bold pb-4 tracking-tighter">
      <strong>Nuestro</strong> <span class="text-green-700">objetivo, misión, visión y valores
      </h2></span>
    <article class="mt-4 [&>p]:text-base [&>p]:font-medium pb-4">
      <h3 class="text-2xl font-bold mb-4">Nuestro Objetivo</h3>
      <p>
        Es brindar <strong>el asesoramiento necesario y adecuado</strong> en cada uno de estos
        campos ofreciendo servicio de ingeniería con <strong>soluciones confiables,
        económicas y eficientes</strong>, aportando certificación en cada labor
        realizado.
      </p>
    </article>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
    <lite-youtube videoid="oHYhSvRautQ"></lite-youtube>
  </div>
  <div class="lg:w-1/2 mx-4 [&>article>p]:text-base font-medium pt-4">
    <article class="mt-4">
      <h3 class="text-2xl font-bold mb-4 flex gap-2 items-center"><TargetArrowIcon/>Misión</h3>
      <p>
        Ofrecer servicios que se ajusten a las necesidades de las empresas
        sin importar el rubro o el tamaño, brindando a nuestros clientes un
        <strong>servicio de consultoría confiable y de la más alta calidad</strong>,
        contribuyendo en ambientes saludables, seguros y respetuosos del entorno
        ambiental.
      </p>
    </article>
    <article class="pt-4">
      <h3 class="text-2xl font-bold mb-4 flex gap-2 items-center"><EyeIcon/>Visión</h3>
      <p>
        Ser una empresa reconocida como <strong>líder en proveer servicios de alto
          nivel</strong>, brindando soluciones en temas <strong>de calidad, prevención de riesgos,
            en seguridad, salud ocupacional</strong>, medioambiente y responsabilidad social.
      </p>
    </article>
    <article class="mt-4">
      <h3 class="text-2xl font-bold pb-4 flex gap-2 items-center"><DiamondIcon/>Nuestros valores</h3>
      <ul class="mb-4">
        <li class="flex gap-2"><BuldIcon class="size-6"/>Excelencia e innovación</li>
        <li class="flex gap-2"><ScaleIcon class="size-6"/>Ética profesional</li>
        <li class="flex gap-2"><DocuemntCheckIcon class="size-6"/>Honestidad</li>
        <li class="flex gap-2"><CheckIcon class="size-6"/>Integridad</li>
      </ul>
    </article>
  </div>
</section>
