<section class="px-4">
	<div class="pb-8 max-w-3xl mx-auto text-center">
		<h2 class="font-bold text-3xl pt-14 tracking-tighter">
			<strong>Aquí nuestra</strong>
			<strong class="text-green-700">galería de proyectos</strong>
		</h2>
		<p class="font-semibold pt-4">
			Explora los proyectos que hemos creado con pasión. Desde ideas iniciales
			hasta desarrollos completos, cada imagen refleja nuestro compromiso con la
			calidad.
		</p>
	</div>
	<div class="projects-container grid grid-cols-2 md:grid-cols-3 gap-4 pb-8">
		<div>
			<img
				class="h-auto max-w-full rounded-lg"
				src="/projects/image-1.webp"
				alt="Instalaciones sanitarias y gasfitería en general"
			/>
		</div>
		<div>
			<img
				class="h-auto max-w-full rounded-lg"
				src="/projects/image-2.webp"
				alt="Remodelación, refacción y ampliaciones de oficinas, edificios, viviendas, y otros"
			/>
		</div>
		<div>
			<img
				class="h-auto max-w-full rounded-lg"
				src="/projects/image-3.webp"
				alt="Desinsectación, desratización, desinfección, limpieza y desinfección de tanques sépticos y reservorios de agua"
			/>
		</div>
		<div>
			<img
				class="h-auto max-w-full rounded-lg"
				src="/projects/image-4.webp"
				alt="Pintado de paredes, techos, fachadas, pisos, estructuras metálicas y otros"
			/>
		</div>
		<div>
			<img
				class="h-auto max-w-full rounded-lg"
				src="/projects/image-5.webp"
				alt="Electricidad industrial y residencial"
			/>
		</div>
		<div>
			<img
				class="h-auto max-w-full rounded-lg"
				src="/projects/image-6.webp"
				alt="Mantenimiento y limieza de ductos"
			/>
		</div>
	</div>
</section>

<style>
	.projects-container div img {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: 0 250px;
	}

	@keyframes reveal {
		from {
			opacity: 0;
			translate: 0 100%;
			scale: 0.5;
		}
		to {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}
</style>
